<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
  <head>
    <title th:text="#{email.activation.title}">JHipster activation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <body>
    <p th:text="#{email.activation.greeting(${user.login})}">Xin chào</p>
    <p th:text="#{email.activation.text1}">Tài khoản của bạn đã được tạo. Hãy bấm vào đây để kích hoạt:</p>
    <p>
      <a th:with="url=(@{|${baseUrl}/api/activate?key=${user.activationKey}|})" th:href="${url}">Kích hoạt</a>
    </p>
    <p>
      <span th:text="#{email.activation.text2}">Trân trọng, </span>
      <br />
      <em th:text="#{email.signature}">JHipster.</em>
    </p>
  </body>
</html>
